.mainPage {

}

.subtitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.3499999940395355px;
  padding: 24px 0 16px;
  margin: 0;
}

.itinerary {
  width: 100%;
  padding-bottom: 24px;
}
