.container {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  gap: 16px;
  border-radius: 16px;
  background: rgba(240, 244, 253, 1);
  border: 1px solid rgba(220, 227, 246, 0.5);
  box-shadow: 0 0 0 0.5px rgba(204, 215, 241, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  @media (max-width: 650px) {
    justify-content: center;
    width: 100%;
  }
}
