body {
    font-family: 'SF PRO', sans-serif;
    transition: all .3s ease;
    margin: 0;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background: white no-repeat;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #000000;
}


.swiper {
    width: 100% !important;
}

.swiper-slide {
    width: 216px !important;
}
